/* change defaults for various elements */

body {
	margin: 0em;
	background: white;
	color: black;
}

hr {
	border: thin blue dashed;
}

img { border: 0; }

li {
	margin-top: 1ex;
	margin-left: 1em;
}

table {
	margin: 0ex;
	padding: 0ex;
	border-spacing: 0px;
}

th {
	background: #ccf;
	padding-top: .5ex;
	padding-bottom: .5ex;
}

td {
	vertical-align: top;
	padding-top: .5ex;
	padding-bottom: .5ex;
}

ol.upperalpha { list-style-type: upper-alpha }
ol.loweralpha { list-style-type: lower-alpha }
ol.upperroman { list-style-type: upper-roman }
ol.lowerroman { list-style-type: lower-roman }

form { margin: 0; }

div.section {
	margin-top: 3ex;
	font-weight: bold;
	border-bottom: pink dotted thin;
}

a[href] {
	color: black;
}

span.button {
	border-width: 2px;
	border-style: outset;
	border-color: #ccc;
	padding-top: .25ex;
	padding-bottom: .25ex;
	padding-left: .5em;
	padding-right: .5em;
	background: #ccc;
}

span.button:hover {
	border-style: inset;
/*	color: blue;  ##not working, the color needs to be on the href */
}

label:hover {
	text-decoration: underline;
}

input[type="text"] {
	padding: 4px;
}

input[type="text"]:focus {
	background: #fcc;
}

input[type="password"] {
	padding: 4px;
}

input[type="password"]:focus {
	background: #fcc;
}

textarea {
	padding: 5px;
}

textarea:focus {
	background: #fcc;
}

button[type="submit"] {
	font-size: 105%;
	background: #ccc;
}

button[type="submit"]:hover {
	border-style: inset;
/*	color: blue;*/
}

td.button {
	border: transparent solid medium;
}

td.button:hover {
	border: yellow solid medium;
}

/* support for javascript fun stuff */

span.popup {
	visibility: hidden;
	position: absolute;
	background: yellow;
/*	layer-background-color: yellow;*/
	padding: 1ex;
	border: black solid thin;
	z-index: 100;
}

tr.hidden  { display:none; }
div.hidden { display:none; }

div.help {
	padding: .5ex;
	margin: 1ex;
	border: black solid thin;
	background: yellow;
/*	layer-background-color: yellow;*/
}

span.helpbutton {
	border: thin dashed red;
	color: red;
	font-weight: bold;
	padding: .2ex;
}

span.helpbutton:hover {
	border: thin dashed red;
	color: red;
	font-weight: bold;
	padding: .2ex;
	background: yellow;
}

/* dialog box type styles */

div.bigmsg {
	margin: 3ex;
	border: pink dotted thick;
	padding: 2ex;
	text-align: center;
	font-size: 150%;
}

a[href].error {
	background: yellow;
	color: red;
	font-weight: bold;
}

div.error {
	padding: 1ex;
	margin: 3ex;
	background: yellow;
	border-color: red;
	border-style: dashed;
	border-width: thick;
	font-size: 110%;
}

span.error {
	background: yellow;
	color: red;
	font-weight: bold;
}

span.insert {
	font-weight: bold;
	background: #cfc;
}

span.delete {
	text-decoration: line-through;
	background: #fcc;
}

/* nav bar styles */

td.nav {
	border: green thin dashed;
	padding: .75ex;
	font-size: larger;
}

td.nav:hover {
	background: yellow;
	font-size: larger;
}
